
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // a=Number(prompt("enter a number"))
        // b=Number(prompt("enter a another number"))
        // document.write(a+b)
        // document.write("<br>")
        // document.write(a-b)
        // document.write("<br>")
        // document.write(a*b)
        // document.write("<br>")
        // document.write(a/b)
        // document.write("<br>")
        // document.write(a%b)
        // a="rahil"
        // b="rasheed"
        // console.log(a+" "+b)
        a=Number(prompt("enter a number"))
        b=Number(prompt("enter another number"))
        c=Number(prompt("enter a last number"))
        if(a>b>c){
            console.log("a is grater")
        }
        else if{
            console.log("it is b is grater")
        }
        else{
            console.log("c is grater")
        }
        
    
        
    </script>
</body>
</html>