<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // limit=Number(prompt("enter a limit"))
        // a=0;
        // b=1;
        // console.log(a)
        // console.log(b)
        // for(i=2;i<limit;i++){
        //     csum=a+b
        //     console.log(csum)
        //     a=b
        //     b=csum
        // }
        //    n=Number(prompt("enter a number"))

        //    for(i=1;i<=10;i++){
        //        console.log(i+"*"+n+"="+i*n)
        //    }
    //       n=(prompt("enter your name"))
    //       a=(prompt("enter your age"))
    //     //   console.log(n)
    //     //   console.log(a)
    //     console.log("hi i am "+n+" my age is "+a)

            n=prompt("ener your name")<br>
            c=prompt("enter your class")<br>
            m=prompt("enter your mark")<br>
            for(i=1;i<=5;i++)
            
            
     </script>
</body>
</html>