<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // 1
        // x=Number(prompt("enter a number"))
        // y=Number(prompt("enter an anoter number"))
        // document.write(x+y)
        // 2
        // x=Number(prompt("enter a number"))
        // y=Number(prompt("enter a another"))
        // z=x+y
        // alert(z)
        // 3
            // firstName="john",lastName="deo",age=35;
            // document.write(firstName+age+lastName)
        // 4
        // alert(10*5)
        // 5
        // alert(15%9)
        // 6
        // x=10;
        // y=5;
        // x+=y
        // console.log(x)
        // 7
        // do
        // 8
        // n=Number(prompt("enter a number"))
        // a=n%10;
        // b=parseInt(n/10)
        // alert(a+b)
        // 9
        // for(i=2;i<=100;i++){
        //     document.write(i)
        //     document.write("<br>")
        // }
        // 10
        // limit=Number(prompt("enter your limit"))
        // for(i=5;i<limit;i+5){ 
        //     document.write(i)
        
        
    </script>
</body>
</html>