{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>top heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nesciunt vel deserunt eaque ducimus corporis molestiae doloremque est, temporibus error et atque enim reiciendis libero, tempora earum quasi adipisci aperiam.</p>
<img src="{% static 'images/insta.jpg' %}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores debitis, labore perspiciatis ducimus illum cupiditate iste accusamus repellat! Eos quos repellendus aliquid consectetur ipsum deserunt facere saepe architecto recusandae!</p>
</body>
</html>  